<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<%= markdown("") %>
  <%= markdown("We like to _write_ `code`, not just _read_ it!") %>
  Contact Ruby on Rails Tutorial about the sample app at the
</p>