
<div class="center hero-unit">
  <h1>Welcome to the BookShelf</h1>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<class="back">
<%= link_to image_tag("books22.jpg", alt: "Rails"), '#' %>
</class>

