<div class="center hero-unit">
  <h1>Welcome to the BookShelf</h1>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails"), '#' %>

