<div class="form-group control-group text_type content_field " id="chapter_content_field">
	<label class="col-sm-2 control-label" for="chapter_content">Content</label>
	<div class="col-sm-10 controls">
	<textarea class="form-control" data-richtext="false" data-options="{}" cols="48" rows="3" name="chapter[content]" id="chapter_content">
	Hello!
	</textarea>
<span class="help-block">Optional. </span>
</div>